services:

  eureka-server:
    image: eurekaserver:0.1
    ports:
      - "8761:8761"
    networks:
      - library-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5

  postgres-pustaka:
    image: postgres:latest
    container_name: postgres-pustaka
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: peminjaman
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    networks:
      - library-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d peminjaman || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3

  mongo-db:
    image: mongo:latest
    container_name: mongo-db
    ports:
      - "27017"
    networks:
      - library-network
    healthcheck:
      test: test $$(echo "db.runCommand('ping').ok" | mongosh --port 27017 --quiet) -eq 1
      interval: 30s
      timeout: 10s
      retries: 3

  rabbitmq-service:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq-service
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
    networks:
      - library-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 3

  anggotaservice:
    image: anggotaservice:0.1
    ports:
      - "9001:9001"
    networks:
      - library-network
    environment:
      - SPRING_APPLICATION_NAME=anggotaservice
      - SERVER_PORT=9001
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      eureka-server:
        condition: service_healthy

  bukuservice:
    image: bukuservice:0.1
    ports:
      - "9002:9002"
    networks:
      - library-network
    environment:
      - SPRING_APPLICATION_NAME=bukuservice
      - SERVER_PORT=9002
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      eureka-server:
        condition: service_healthy

  peminjamanservice:
    image: peminjamanservice:0.2
    ports:
      - "9003:9003"
    networks:
      - library-network
    environment:
      - SPRING_APPLICATION_NAME=peminjamanservice
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - SPRING_RABBITMQ_HOST=rabbitmq-service
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=admin
      - SPRING_RABBITMQ_PASSWORD=password
      
      # H2 Database Configuration
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-pustaka:5432/peminjaman
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_DATA_MONGODB_URI=mongodb://mongo-db:27017/peminjaman
      
      # H2 Console
      - SPRING_H2_CONSOLE_ENABLED=true
      - SPRING_H2_CONSOLE_PATH=/h2-console
      
      # JPA Configuration
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create
      - SPRING_JPA_SHOW_SQL=true      
      - SERVER_PORT=9003
      - LOGGING_FILE_NAME=/app/logs/peminjaman-service.lo
    depends_on:
      eureka-server:
        condition: service_healthy

  pengembalianservice:
    image: pengembalianservice:0.1
    ports:
      - "9004:9004"
    networks:
      - library-network
    environment:
      - SPRING_APPLICATION_NAME=pengembalianservice
      - SERVER_PORT=9004
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      eureka-server:
        condition: service_healthy

  api-gateway:
    image: apigateway:0.2
    ports:
      - "9006:9006"
    networks:
      - library-network
    environment:
      - SPRING_APPLICATION_NAME=api-gateway
      - SERVER_PORT=9006
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      eureka-server:
        condition: service_healthy
      anggotaservice:
        condition: service_started
      bukuservice:
        condition: service_started
      peminjamanservice:
        condition: service_started
      pengembalianservice:
        condition: service_started

networks:
  library-network:
    driver: bridge
